/* House keeping stuff */
* {
    margin: 0px;
    padding: 0px;
    
}
a:link {
    color:white;
    text-decoration:underline;
}
a:visited {
    color:white;
    text-decoration:underline;
}
header, section, footer, aside, nav, article, hgroup{
    display:block;
}
/* end of house keeping stuff */
body {
    background-color: #010000;
}

#header_main {

}

#header_main > #profile {
    width:800px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid white;
}

#header_main > #profile > img {
    width:800px;
}

#download {
    color:white;
    background-color:#1e0101;
    margin-top:50px;
    text-align:center;
    height:120%;
    font-size: 50px;
    padding-top:20px;
    padding-bottom:20px;
    border-top:1px solid white;
    border-bottom:1px solid white;
}

#download > a:link {
    font-weight:bold;
    text-decoration:none;
}

#download > a:visited {
    font-weight:bold;
    text-decoration:none;
}

#content {
    width:1000px;
    margin-top:40px;
    margin-left:auto;
    margin-right:auto;
    padding-bottom:50px;
}

#content > #left {    
    width:467px;
    padding-top:50px;
    padding-bottom:50px;
    background-color:#1e0101;
    float:left;
    color:white;
}

#content > #right {
    margin-left:60px;
    width:447px;
    padding-top:50px;
    padding-bottom:50px;
    border: 1px solid #1e0101;
    float:left;
    padding:10px;
    color:white;
}

article {
    margin-top:30px;
    padding-left:30px;

    padding-right:30px;
}

#right > article {
    padding-bottom:100px;
    border-bottom:2px solid #1e0101;
    border-bottom-height:250px;
}

article > header {
    text-align:center;
    padding-bottom:20px;
}

article > img {
    width:380px;
    margin-bottom:20px;
}

article > footer {
    margin-top:5px;
    text-align:right;
    font-size:10px;
}

.music > img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.music > #setlist {
    float:left;
}

.music > #lyrics {
    float:left;
    margin-left:10px;
    margin-right:50px;
}

.music > #music_download {
    padding-top:100px;
    padding-left:30px;
}

#footer_main {
    border:1px solid white;
    width:1000px;
    margin-right:auto;
    margin-left:auto;
}